[build]
  publish = "."
  command = "echo 'No build step required for this ESM-based app'"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[context.production.environment]
  NODE_VERSION = "20"
